{% extends "base.html" %}
{% block title %}HackDecó{% endblock %}
{% block content %}

<div class = "text-center"
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/static/img/victor.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Víctor Galán</h5>
    <p class="card-text">Data Scientist</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Industrial Engineer</li>
  </ul>
  <div class="card-body">
    <a href="https://www.linkedin.com/in/victor-galan/" class="card-link">LinkendIn</a>
  </div>
</div>


{% endblock %}