{% extends "base.html" %}
{% block title %}HackDecó{% endblock %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Quienes somos</h1>
        <p class="lead">Somos un equipo compuesto por una decoradora, un data scientist, tres niñ@s y un bulldog francés.</p>
        <a class="btn btn-primary btn-lg btn-sm btn-dark" href="/deepdeco" role="button">Saber más</a>
          <a class="btn btn-primary btn-lg btn-sm btn-dark" href="/upload-image" role="button">Ir al Buscador</a>

      </div>
    </div>
{% endblock %}