<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %}</title>
    </head>
    <body>

    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
          <h4 class="text-white">Menos es más</h4>
          <span class="text-muted">Ludwig Mies Van Der Rohe</span>
        </div>
      </div>
      <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-light py-1">
          <a class="navbar-brand" href="/home">Home</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/aboutus">Quienes somos <span class="sr-only"></span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/contacta">Contacta <span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/deepdeco">Deep Learning e Interiorismo</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/upload-image">Sube una foto del mueble</a>
                  <a class="dropdown-item" href="/search">Selecciona tus preferencias</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cam-capture" tabindex="-1" aria-disabled="true">Servicios Premium</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-secondary my-2 my-sm-0 " type="submit">Search</button>
            </form>
          </div>
        </nav>
        <div class="shadow-none p-0.5 mb-5 bg-light rounded"></div>

        <div class="text-center">
            <img src="./static/img/hackdeco.png" alt="HackDecó" class="rounded" width="400" height="100">
        </div>



        <div class =container-fluid>

        {% block content %}

        {% endblock %}
            <!-- Footer -->
        <footer class="page-footer align-text-top font-small special-color-dark pt-4">

          <!-- Footer Elements -->
          <div class="container">

            <!--Grid row-->
            <div class="row">

              <!--Grid column-->
              <div class="col-md-6 mb-4">

              </div>
              <!--Grid column-->

            </div>
            <!--Grid row-->

          </div>
          <!-- Footer Elements -->

          <!-- Copyright -->
          <div class="footer-copyright align-bottom text-center py-3">© 2020 Copyright:
            <a href="https://www.linkedin.com/in/victor-galan/"> @hackdeco</a>
          </div>
          <!-- Copyright -->

        </footer>
        <!-- Footer -->
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
