{% extends "base.html" %}
{% block title %}HackDecó{% endblock %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Deep Learning e Interiorismo</h1>
          <div class="text-justify">
              <p class="lead"> Deep Learning
            <p> Las redes neuronales artificiales (también conocidas como sistemas conexionistas) son un modelo computacional vagamente inspirado en el comportamiento observado en su homólogo biológico​. Consiste en un conjunto de unidades, llamadas neuronas artificiales, conectadas entre sí para transmitirse señales. La información de entrada atraviesa la red neuronal (donde se somete a diversas operaciones) produciendo unos valores de salida.

Cada neurona está conectada con otras a través de unos enlaces. En estos enlaces el valor de salida de la neurona anterior es multiplicado por un valor de peso. Estos pesos en los enlaces pueden incrementar o inhibir el estado de activación de las neuronas adyacentes. Del mismo modo, a la salida de la neurona, puede existir una función limitadora o umbral, que modifica el valor resultado o impone un límite que no se debe sobrepasar antes de propagarse a otra neurona. Esta función se conoce como función de activación.

Estos sistemas aprenden y se forman a sí mismos, en lugar de ser programados de forma explícita, y sobresalen en áreas donde la detección de soluciones o características es difícil de expresar con la programación convencional. Para realizar este aprendizaje automático, normalmente, se intenta minimizar una función de pérdida que evalúa la red en su total. Los valores de los pesos de las neuronas se van actualizando buscando reducir el valor de la función de pérdida. Este proceso se realiza mediante la propagación hacia atrás.

El objetivo de la red neuronal es resolver los problemas de la misma manera que el cerebro humano, aunque las redes neuronales son más abstractas. Las redes neuronales actuales suelen contener desde unos miles a unos pocos millones de unidades neuronales.

Nuevas investigaciones sobre el cerebro a menudo estimulan la creación de nuevos patrones en las redes neuronales. Un nuevo enfoque está utilizando conexiones que se extienden mucho más allá y capas de procesamiento de enlace en lugar de estar siempre localizado en las neuronas adyacentes. Otra investigación está estudiando los diferentes tipos de señal en el tiempo que los axones se propagan, como el aprendizaje profundo, interpola una mayor complejidad que un conjunto de variables booleanas que son simplemente encendido o apagado.

Las redes neuronales se han utilizado para resolver una amplia variedad de tareas, como la visión por computador y el reconocimiento de voz, que son difíciles de resolver usando la ordinaria programación basado en reglas. Históricamente, el uso de modelos de redes neuronales marcó un cambio de dirección a finales de los años ochenta de alto nivel, que se caracteriza por sistemas expertos con conocimiento incorporado en si-entonces las reglas, a bajo nivel de aprendizaje automático, caracterizado por el conocimiento incorporado en los parámetros de un modelo cognitivo con algún sistema dinámico.
      </p>
      </div>
            <div class="text-justify">
            .</p>
          <p class="lead"> El Interiorismo
        <p> El decorador planifica la distribución de espacios interiores junto a sus clientes presentándoles un proyecto acorde a sus necesidades, preferencias y presupuesto. En primer lugar, determina junto a su cliente el tipo de arquitectura preferida para el local, sus funciones y destino y el tipo de equipamiento a instalar.

El decorador aconseja a su cliente sobre el estilo de los muebles y otros objetos de decoración, el color y estilo de la tapicería, la pintura de las paredes y el techo y la distribución de los espacios. El decorador busca y selecciona los muebles, cuadros y objetos decorativos apropiados a los requerimientos del proyecto. También adapta al nuevo espacio con criterios estéticos los muebles u objetos de que dispone. Presenta el proyecto al cliente por medio de dibujos, esquemas o ilustraciones.

Cuando el proyecto y su presupuesto han sido aprobados, el decorador subcontrata la fabricación de tapicerías, cortinas, alfombras y piezas de carpintería, la construcción de tabiques y otros elementos separadores, el tratamiento y pintura del techo y las paredes, la instalación del suelo y otras actividades relacionadas. El decorador también puede planificar otros espacios interiores como barcos, aviones, autobuses, stands feriales, ...
      </p>
            </div>
        <div class="text-center">
          <a class="btn btn-primary btn-lg btn-lg btn-dark" href="/upload-image" role="button">Ir al Buscador</a>
        </div>
      </div>
    </div>
{% endblock %}